.movie-row{
    display: flex;
    overflow-x: scroll;
}
.movie-img{
    width: 100%;
    height: 150px;
    margin-right: 7px;
    transition: .5s ease-in-out;
}
.movie-img:hover{
    transform: scale(1.05);
}
.row{
    margin-left: 7px;
}
::-webkit-scrollbar{
    display: none;
}
.posterMovie{
    height: 250px;
}